.mat-toolbar {
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
  background-color: rgb(8, 27, 169);
  font-weight: bold;
  color: white;
}

.mat-form-field {
  padding: 5px;
}

.mat-hint {
  color: red;
}
